spring:
  application:
    name: MSAssignment

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
